<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.92963946199-7qq8s23ntm1880ibb9bfpj5g71ilhuhu</string>
                <string>fb1391215891536107</string>
            </array>
        </dict>
    </array>
    <key>Pushwoosh_APPID</key>
    <string>22192-19DD0</string>
    <key>UIAppFonts</key>
    <array>
        <string>Gilroy-ExtraBold.ttf</string>
        <string>Ubuntu-Bold.ttf</string>
        <string>Ubuntu-Light.ttf</string>
        <string>Ubuntu-Regular.ttf</string>
        <string>Ubuntu-Medium.ttf</string>
        <string>Inter-Regular.ttf</string>
        <string>Inter-Medium.ttf</string>
        <string>Inter-SemiBold.ttf</string>
        <string>Inter-Bold.ttf</string>
        <string>Poppins-Medium.ttf</string>
        <string>OpenSans-Regular.ttf</string>
        <string>SFProDisplay-Semibold.ttf</string>
        <string>SFProText-Bold.ttf</string>
        <string>FontsFree-Net-SFProDisplay-Regular.ttf</string>
        <string>sub.ttf</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>FacebookAppID</key>
    <string>1391215891536107</string>
    <key>FacebookClientToken</key>
    <string>a6c38d83d11293dbbeeb73ef532a39c1</string>
    <key>FacebookDisplayName</key>
    <string>Sport Cards Scanner</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
    </array>
</dict>
</plist>

