<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92963946199-7qq8s23ntm1880ibb9bfpj5g71ilhuhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92963946199-7qq8s23ntm1880ibb9bfpj5g71ilhuhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDV8un2iWWeAlcKYRWiQJx7eJGjii_tZ7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>92963946199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.team.1</string>
	<key>PROJECT_ID</key>
	<string>sports-cards-scanner</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-cards-scanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92963946199:ios:6db98cbe4c1d3cdf233a92</string>
</dict>
</plist>